<form class="search" action="/search" method="get">
    <input type="search" name="email" value="{{last}}" placeholder="Search email...">
    <button type="submit" class="btn-search">
        <img src="/static/img/search-icon.png" alt="search-icon">
        Search
    </button>
</form>

{{#if searching}}
<section id="search-page">


        {{#if data}}
            <h2>Search result:</h2>
            {{#each data}}
                {{>searchCard}}
            {{/each}}

        {{else}}
            <article class="search-page-no-result">
                <p class="search-page-no-result-message">No match found.</p>
            </article>
        {{/if}}
    {{/if}}
</section>


</html>